<html>
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Vlad" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Facebook,fb,messenger" />
    <style>
      *,
      *:before,
      *:after {
        box-sizing: inherit;
      }

      table {
        display: table;
        width: 100%;
        border: none;
        background-color: white;
        border-collapse: collapse;
        margin: 0;
        table-layout: fixed;
        position: relative;
      }

      table thead th {
        position: relative;
        color: #000;
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
        padding: 15px 20px 20px;
        text-align: center;
      }

      table thead tr > th {
        vertical-align: top;
        position: sticky;
        top: 0;
        z-index: 8;
        border: none !important;
      }

      table thead tr > th:nth-of-type(1) {
        background-color: #4d9aff;
        box-shadow: inset 0 2px 0 #4d9aff, inset 0 -2px 0 #4d9aff,
          inset 2px 0 0 #4d9aff, inset -1px 0 0 #d9d9d9;
      }

      table thead tr > th:not(:last-of-type) {
        border-right: 2px solid #d9d9d9;
      }
      table thead tr > th:first-of-type {
        width: 320px;
      }

      table thead tr > th:nth-of-type(2),
      table thead tr > th:nth-of-type(3) {
        background-color: #ffffff;
      }

      table thead tr > th:nth-of-type(2) {
        box-shadow: inset 0 2px 0 #4d9aff, inset 0 -2px 0 #4d9aff,
          inset 1px 0 0 #d9d9d9, inset -1px 0 0 #d9d9d9;
      }

      table thead tr > th:nth-of-type(3) {
        box-shadow: inset 0 2px 0 #4d9aff, inset 0 -2px 0 #4d9aff,
          inset -2px 0 0 #4d9aff, inset 1px 0 0 #d9d9d9;
      }

      table tbody td {
        padding: 4px 20px;
        height: 55px;
        border: 2px solid #d9d9d9;
      }

      table tbody tr:first-of-type,
      table tbody tr:first-of-type > td {
        border-top: none;
      }
    </style>
  </head>
  <body>
    <button onclick="logout()">log out</button>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Partner 1</th>
        </tr>
      </thead>
      <tbody>
        <% books.forEach(function(book){ %>
        <tr>
          <td><%= book.title%></td>
          <td><button onclick="requestBook('<%=book._id%>')" class='<%=book._id%>'>request book</button></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
  <script>
    const requestBook = id => {
      fetch("/books", {
        method: "post",
        headers: {
          Accept: "application/json, text/plain, */*",
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ id: id })
      })
        .then(res => res.json())
        .then(res => {
          const ele = document.getElementsByClassName(id)[0];
          ele.innerHTML='requested';
          ele.disabled=true;
        });
    };
    const logout = () => {
      fetch("/signout");
      window.location.reload();
    };
  </script>
</html>
